doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='description', content='nano.lib.js')
		meta(name='author', content='Avihai Cohen')
		title nano.lib.js
		script(src='nano-lib.js')
	body
		h1 1111111
		script NanoLib = NanoLib.NanoLib;
		script console.log(NanoLib.generateNewSeed());